{
  "extends": ["airbnb", "airbnb-babel"],
  "rules": {
    "no-unused-expressions": "on",
    "@typescript-eslint/no-unused-expressions": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
